.App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: aquamarine;
  background: linear-gradient(#e66465, #9198e5);

}
button{
  color: aliceblue;
  padding: 5px 20px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 250px;
  border-radius: 2rem;
  background-color: cadetblue;
  cursor: pointer;
  outline: none;
}